<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bdqn.onlineqa.mapper.QuestionsMapper">
    <select id="getAll" resultType="cn.bdqn.onlineqa.pojo.Questions">
        SELECT * FROM questions ORDER BY lastModified DESC
    </select>
    <insert id="add" parameterType="cn.bdqn.onlineqa.pojo.Questions">
        insert into questions values(null,#{title},#{detailDesc},0,NOW())
    </insert>
    <select id="getId" resultType="cn.bdqn.onlineqa.pojo.Questions">
        SELECT q.`title`,q.`detailDesc`,a.`ansContent` FROM questions q,answers a WHERE q.id=a.qid AND q.id=#{id}
    </select>

</mapper>